<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ネットでピザ注文</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

  <head>
    <meta charset="UTF-8">
    <link rel=“stylesheet” href=“style.css”>
    <title>お探しのページは見つかりませんでした</title>
  </head>

<body>
  <div class="container">
    <div th:replace="parts::header()"></div>
    <div class="row">
      <h3 class="text-center">何かお探しですか？</h3>
      <div>
        <h1 class="text-center">404 Not Found</h1>
      </div>
      <p class="text-center">申し訳ございません。お探しのページは見つかりませんでした。<br>以下のリンクから商品一覧に戻ります。</p>
      <div><a href="item_list.html" th:href="@{/}" class="col-xs-offset-5 col-xs-5">
          <button type="button" class="btn btn-primary" id="itemlist-btn">商品一覧へ戻る</button>
        </a></div>
    </div>
    <div th:replace="parts::comment()"></div>
</div>

</body>
</html>
